.header-conatainer{
    text-align: center;
    font-size: large;
   background-color: #000000;
}
.header-body{
    
    width: 75%;
    margin: auto;
    padding: 20px;
}
.header-text{
    color: #FF5E19;
    margin-bottom: 10px;
}
.section-container{
    background-color: #CFCFCF;
}
.card-body{
    background-color: #0D0D0D;
    color: white;
}
.calculator{
    margin-top: 5px;
    border-radius: 5px;
    
}
.card>img{
    height: 200px;
}
.button-btn{
    border: none;
    margin: auto;
    margin-bottom:10px;
    margin-top: 10px;
    padding: 5px 20px;
    width: 75%;
    border-radius: 5px;
    font-weight: 600;
   
    text-transform: uppercase;
    background-color: #015196;
    
}
#select-player{
   color: white;
    padding: 10px;
    font-size: 20px;
    text-align: start;
}